---
title: Our Team Members
permalink: /people/
---

{% assign people_sorted = site.people | sort: 'joined_date' %}

<h2>Professors</h2>

{% for person in people_sorted %}
{% if person.type == "professor" and person.is_past_member == false %}
<div class="row p-3 mb-3 justify-content-center border-top border-bottom">
    <div class="col-lg-4 align-self-center">
        <img src="{{ person.image }}" class="img-fluid mb-2" style="object-fit: contain;" alt="{{ person.title }}">
    </div>
    <div class="col-lg-8 align-self-center">
        <h3> {{ person.name }} </h3>
        <div class="div">
            {{ person.content }}
        </div>
        {% if person.links %}
        <div class="d-inline-flex gap-2">
            {% for link in person.links %}
            <a href="{{ link.url }}" target="_blank" class="btn btn-sm btn-outline-dark">{{ link.name }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}

<h2>Post-Docs</h2>

<div class="post-docs pt-2 pb-3">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for person in people_sorted %}
        {% if person.type == "post-doc" and person.is_past_member == false %}
        <div class="col">
                {% include person_vcard.html person=person %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<h2>PhD Candidates</h2>

<div class="phd-students pt-2 pb-3">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for person in people_sorted %}
        {% if person.type == "phd-candidate" and person.is_past_member == false %}
        <div class="col">
                {% include person_vcard.html person=person %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<h2>Research Assistants</h2>

<div class="engineers pt-2 pb-3">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for person in people_sorted %}
        {% if person.type == "engineer" and person.is_past_member == false %}
        <div class="col">
                {% include person_vcard.html person=person %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<h1>Past Members</h1>