---
title: Publications
permalink: /publications/
---

{% assign publications_sorted = site.data.publications | sort: 'year' %}

<!-- We loop over the entries in the data/publications file and display the publications -->
<div class="row justify-content-">
    <div class="input-group mb-3">
        <input type="text" class="form-control w-auto" placeholder="Search publications: author, title, ..." id="search-input">
        <select class="form-select" id="year-select" style="width: 50;">
            <option value="">All Years</option>
            {% for publication in publications_sorted %}
                {% assign currDate = publication.date | date: "%Y" %} 
                {% if currDate != date %}
                    <option value="{{ currDate }}">{{ currDate }}</option>
                    {% assign date = currDate %} 
                {% endif %}
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="button" id="search-button"><i class="bi bi-search"></i></button>
    </div>
</div>

<div class="publication-container" id="publication-container">
    {% assign counter = 1 %}
    {% for publication in publications_sorted %}
    {% assign currDate = publication.date | date: "%Y" %} 
    {% if currDate != date %}
    <h3 class="archive-year border-bottom">{{ currDate }}</h3>
    {% assign date = currDate %} 
    {% endif %}
    <div class="publication-item">
        {% include publication_item.html publication=publication id=counter %}
    </div>
    {% assign counter = counter | plus: 1 %}
    {% endfor %}

</div>

<div class="patents">
    <h1>Patents</h1>
    <ul class="patents-list">
        <li>(P07) Compact omnidirectional vision sensor, US patent, 2014, led.</li>
        <li>(P06) Shared control of autonomous vehicles, US patent, 2014, led.</li>
        <li>(P05) Automated charging for aerial vehicles, US patent, 2014, led.</li>
        <li>(P04) Omnidirectional Spherical Blimp, International patent, 2012, led.</li>
        <li>(P03) Robotic Textures, US patent, 2012, led.</li>
        <li>(P02) Display with robotic pixels - divisorial, US patent, 2011, led.</li>
        <li>(P01) Display with robotic pixels, US patent 8723872.</li>
    </ul>
</div>
<script>
    var searchInput = document.getElementById('search-input');
    var searchButton = document.getElementById('search-button');

    // Trigger search when Enter key is pressed
    searchInput.addEventListener('keyup', function(event) {
        if (event.key === 'Enter') {
            searchButton.click();
        }
    });

    searchButton.addEventListener('click', function () {
        var searchValue = searchInput.value.toLowerCase();
        var yearValue = document.getElementById('year-select').value;
        var publicationItems = document.getElementsByClassName('publication-item');
        var archiveYears = document.getElementsByClassName('archive-year');

        for (var i = 0; i < publicationItems.length; i++) {
            var publicationTitle = publicationItems[i].querySelector('.publication-title').textContent.toLowerCase();
            var publicationAuthor = publicationItems[i].querySelector('.author-names').textContent.toLowerCase();
            var publicationVenue = publicationItems[i].querySelector('.publication-venue').textContent.toLowerCase();
            var publicationYear = publicationItems[i].querySelector('.publication-date').textContent.toLowerCase();

            if ((publicationTitle.includes(searchValue) || publicationAuthor.includes(searchValue) || publicationVenue.includes(searchValue) || publicationYear.includes(searchValue)) &&
                (yearValue === "" || publicationYear.includes(yearValue))) {
                publicationItems[i].style.display = "block";
            } else {
                publicationItems[i].style.display = "none";
            }
        }

        for (var j = 0; j < archiveYears.length; j++) {
            var year = archiveYears[j].textContent.trim();
            // var yearItems = document.querySelectorAll('.publication-item .publication-date');
            var yearItems = document.getElementsByClassName('publication-date');
            console.log(year);
            var showYear = false;
            for (var k = 0; k < yearItems.length; k++) {
                var itemYear = yearItems[k].textContent.trim();
                console.log(itemYear);
                if (itemYear.includes(year) && publicationItems[k].style.display !== "none") {
                    showYear = true;
                    break;
                }
            }

            if (showYear) {
                archiveYears[j].style.display = "block";
            } else {
                archiveYears[j].style.display = "none";
            }
        }
    });
</script>
