---
---

.navbar-name {
    color: #D107A9;
    font-weight: 700;
    font-size: xx-large;
  }

.amr-color {
    color: #D107A9;
    }

.nav-link.active {
    font-weight: 600;
}

a {
    color: #D107A9;
  }
